<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
Worried that your Internet traffic is taking an unnecessarily circuitous path to you, ruining your performance (forcing you to wait too long when you request webpages, or causing "life" threatening lags in your favorite games)? Suspicious about what networks or countries might handle your traffic along its journey? Want to know if your provider is getting you the performance you are paying for? Just curious to see where data is coming from? For these questions and more, our new reverse traceroute system is just the tool you need! It allows you to measure the path from any destination back to you.
            </div>
            <div class="row">
                <form action="/runrevtr" method="get">
                    <div class="form-group">
                        <label for="src">Source: </label>
                        <select class="form-control" name="src" id="src">
                            {{ range .Nodes }}
                            <option value="{{.Host}}">{{ .Host }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class=form-group>
                        <label for="dst">Destination: </label>
                        <input type="text" name="dst" class="form-control" id="dst" />
                    </div>
                    <button class="btn btn-default" type="submit">Run!</button>
                </form>
            </div>
        </div>
    </body>
</html>
