{{define "home" }}
<!DOCTYPE html>
<html>
  {{ template "head" .}}
    <body>
      {{template "navbar" .}}
        <div class="container">
	  <div class="template">
	    <br/>
            <div class="row">
	      <p class="text-justify">
Worried that your Internet traffic is taking an unnecessarily circuitous path to you, ruining your performance (forcing you to wait too long when you request webpages, or causing "life" threatening lags in your favorite games)? Suspicious about what networks or countries might handle your traffic along its journey? Want to know if your provider is getting you the performance you are paying for? Just curious to see where data is coming from? For these questions and more, our new reverse traceroute system is just the tool you need! It allows you to measure the path from any destination back to you.
	      </p>
	      <br/>
            </div>
	    <div class="row">
	      <h4>Give it a try</h4>
	    </div>
            <div class="row">
                <form action="/runrevtr" method="get">
                    <div class="form-group">
                        <label for="src">Source: </label>
                        <select class="form-control" name="src" id="src">
                            {{ range .Nodes }}
                            <option value="{{.Host}}">{{ .Host }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class=form-group>
                        <label for="dst">Destination: </label>
                        <input type="text" name="dst" class="form-control" id="dst" />
                    </div>
                    <button class="btn btn-default" type="submit">Run!</button>
                </form>
            </div>
	    </br>
            <div class="row">
	      <p class="text-center">
		If you would like access to the API please contact <a href="mailto:revtr@ccs.neu.edu?Subject=API Access">revtr@ccs.neu.edu</a>
	      </p>
	    {{template "scripts" .}}
	      </div>
	    </div>
    </body>
</html>
{{end}}
