{{define "running"}}
<!DOCTYPE html>
<html>
  {{ template "head" .}}
    <body>
      {{ template "navbar" .}}
        <div class="container">
	  <div class="template">
            <div class="row text-center">
                <h2 id="title">Running Reverse Traceroute</h2>
            </div>
            <div class="row">
                <input type="hidden" id="key" value="{{ .Key }}">
                <div id="results" class="text-center">
                </div>
            </div>
	    <div class="row">
		    <div id="errors" class="text-center"></div>
	    </div>
            <div class="row text-center" id="spinning">
                <i class="fa fa-spinner fa-pulse"></i>
                <span>Working...</span>
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
	    </div>
        </div>
    </body>
    {{template "scripts" .}}
    <script type="text/javascript">
        (function($, window, undefined){

        
            res = $('#results')
            key = $('#key').val()
            errors = $('#errors')
            if (!window['WebSocket']){
                res.append($('<p>Your browser does not support web sockets.<p>'))
                return
            }
            $(
                    function() {
                        var done 
                        if (!key) {
                            res.append($('<p>Error! Missing key to display reverse traceroute</p>'))
                                return
                        }
                        ws = new WebSocket("wss://{{ .URL }}/ws?key=" + key)
                        ws.onmessage = function(e) {
                            mess =  $.parseJSON(e.data)
                            done = mess.Status
                            if(done){
                                $('#title').text("Completed Reverse Traceroute")
                                errors.html($('<span>' + mess.Error + '</span>'))
                                $('#spinning').hide()
                            }
                            show = mess.HTML
                            res.html($('<span>' + show + '</span>'))
                        }
                        ws.onclose = function() {
                            if(done) {
                                return
                            }
                            $('#spinning').hide()
                            res.html($('<span>The websocket connection closed prematurely, refresh the page to reconnect.</span>'))
                        }
                    }
             )
        })(jQuery, window)
    </script>
</html>
{{end}}
